<!-- vote.ejs -->

<!DOCTYPE html>
<html lang="se">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mina möten</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size: 10em; color: #337ab7"></span>
                <h1>Möte: <%= title %></h1>
                <h2><%= date %></h2>
                <p class="lead">Betygsätt mötet nedan.</p>

                <p>Hur väl genomfört var mötet. 1, dåligt, 5, mycket bra.</p>
                <form action="/doVote/<%= id %>" method="post">
                    <div class="form-group">
                        <label class="radio-inline">
                        <input type="radio" name="rating" id="rating" value="1"> 1
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="rating" id="rating" value="2"> 2
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="rating" id="rating" value="3"> 3
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="rating" id="rating" value="4"> 4
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="rating" id="rating" value="5"> 5
                        </label>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <div class="form-group">
                            <label for="comment">Kommentar</label><br />
                            <textarea name="comment" cols="40" rows="5"></textarea>
                        </div>
                        <span id="errorMessage" style="color: red; font-size:1.2em"></span><br />
                        <button type="button" type="submit" id="saveButton" class="btn btn-success">Spara</button> 
                    </div>
                    
                </form>                                                           
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>
    <script src="../js/vote.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
